*~
_junk/
rclone
rclone.exe
build
docs/public
rclone.iml
.idea
.history
*.test
*.log
*.iml
fuzz-build.zip
*.orig
*.rej
Thumbs.db
__pycache__
sorting.txt
rclone-as-beta-linux-arm64
rclone-as-beta.exe
z-rclone-as-beta-linux-arm64
z-rclone-as-beta.exe
